{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "globals": {
        "define": true
    },
    rules: {
        "semi": ["error"],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-irregular-whitespace": ["error"],
        "linebreak-style": ["warn", "unix"],
        "no-undef": ["warn"],
        "no-unused-vars": ["warn"]
    }
}
